@import "/src/assets/style/conf";

.menu-list-component {
  background-color: #fff;
  border-top: 1px solid $line;
  position: relative;
  z-index: 23;
  box-shadow: $shadow;
  li {
    padding: 1em;

    a {
      border-bottom: 1px solid $textcolor;
      transition: 0.2s;

      &:hover {
        color: $accent;
        border: none;
      }

      &.active{
        color: $accent;
        border: none;
      }
    }
  }
  @media (max-width: 600px){
    ul{
      flex-wrap: wrap;
    }
  }
}