$userfont: 'Future PT Light', sans-serif; // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family
$accent: #c1171d;
$textcolor: #373a3c;
$lineheight: 1.5;
$fontsize: 15.4px;
$line: #efefef;
$gray: #F9F9F9;
$blue: rgb(57, 106, 241);

$shadow: -2px 13px 12px -3px rgba(34, 60, 80, 0.2);
$shadow-hover: -2px 13px 12px 1px rgba(34, 60, 80, 0.2);

$transition: all .3s cubic-bezier(.25, .8, .25, 1);

$grid-gutter-width: 30px;
$gutter: $grid-gutter-width;


