@import "./src/assets/style/conf";


.city-block {
  align-items: center;
  align-content: center;
  position: relative;
  margin-right: $gutter;
  margin-bottom: $gutter/2;

  svg {
    width: 24px;
    color: $accent;
    position: absolute;
    top: 0;
    left: -24px;
  }

  span {
    border-bottom: 1px dashed $textcolor;
    @media (max-width: 1000px) {
      position: relative;
    }

    &:hover {
      border-bottom: 1px $accent;
      color: $accent;
    }
  }

  @media (max-width: 1000px) {
    font-size: 30px;
    svg {
      display: none;
    }
  }
}