.all {
  position: relative;
  z-index: 2;
}

.background-full-logo {
  position: fixed;
  z-index: 1;
  top: 15%;
  opacity: 0.8;
  right: 0;

  img {
    height: 600px;
    top: 0;
  }

  @media (max-width: 700px) {
    img {
      height: 400px;
    }
    right: -25px;
  }
}