.about{
  p{
    font-weight: bold;
  }
  .box{
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 30px;
  }
  img{
    width: 100%;
  }
}