@import "/src/assets/style/conf";

.cart-block {
  .cart-block-icon {
    margin-top: 7px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    cursor: pointer;
    align-items: center;
    text-align: center;
    transition: $transition;

    svg {
      margin-top: 8px;
      width: 25px;
      height: 25px;
      cursor: pointer;
    }
  }

  &-full {
    align-content: center;
    align-items: center;
    background-color: $accent;
    border-radius: 15px;
    display: flex;
    padding: 2px 10px;
    color: #fff;
    font-weight: bold;
    margin-right: 1em;
    margin-top: 10px;

    svg {
      display: block;
      width: 20px;
      height: 20px;
      fill: #fff;
      margin-top: 4px;
    }

    span {
      margin-left: 5px;
      margin-top: 3px;
    }
  }
}